<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/members/new" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="put your full name">
            <input type="number" id="salary" name="salary" placeholder="put your expectation of salary">
        </div>
        <button type="submit">submit</button>
    </form>
</div> <!-- /container -->
</body>
</html>