<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>No.</th>
                <th>name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.id}"></td>
                <td>
                    <input type="text" th:value="${member.name}" class="text"/>
                </td>
                <td>
                    <input type="NUMBER" th:value="${member.salary}" class="text"/>
                </td>

                <td><a href="#" th:href="@{/members/delete(Id=${member.id})}"><input type="button" value="Delete"/></a>
                    <a href="#" th:href="@{/members/update(Id=${member.id})}"><input type="button" value="Update"/></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>